<div class="work-comp">
    <div class="bold mobile">
        <div class="work-header">
            <i class="fas fa-briefcase work-icon"></i> Work experience
        </div>
        <hr>
    </div>
    <div class="work-info">
        <div class="web work-logo">
            <img class="logo kotak" alt="Kotak">
        </div>
        <div>
            <div>
                <div>
                    <span class="work-role"><span class="role bold">Core Committee Member</span></span> -
                    <span class="work-institute"><a href="https://www.linkedin.com/company/decrypters/" target="_blank">Decrypters-The Coding Club PAGE</a></span>
                </div>
                <div class="work-timeline">
                    <i class="far fa-calendar-alt"></i>2023 - 2024
                    <i class="fas fa-map-marker-alt"></i>Nadiad, India
                </div>
                <div class="work-description mt-2">
                    <ul>
                        <li>Successfully organized the <a href="https://www.hackerrank.com/contests/binary-beast/" target="_blank">Binary Beast Contest</a> on the HackerRank platform, managing logistics and ensuring a seamless participant experience.</li>
                        <li>Helped fellow core committee members in designing and developing problem statements for the Binary Beast Contest.</li>
                        <li>Organized a Google Meet session to introduce and explain the fundamentals of Data Structures and Algorithms (DSA), promoting learning and interaction.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<hr>
</div>