<!-- Projects -->
<div class="project-comp">
    <div class="bold mobile">
        <div class="project-header">
            <i class="fas fa-tasks project-icon"></i> Projects
        </div>
        <hr>
    </div>
    <!-- Decoder -->
    <div>
        <div>
            <span class="project-title bold">Keep Fast</span> -
            <span class="project-timeline">Jan. 2025</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">HTML</span>
            <span class="tech">JAVASCRIPT</span>
            <span class="tech">BOOTSTRAP</span>
            <span class="tech">MARKDOWN</span>
            <span class="tech">FIREBASE</span>
        </div>
        <div class="project-details">
            <ul>
                <li>A note-taking web-application, similar to Google Keep.</li>
                <li>
                    It allows users to write notes in Markdown syntax with real-time
                    rendering into visually distinct, color-coded output for better
                    organization and readability.
                </li>
                <li>
                    <a href="https://github.com/deep-govindvira/keepfast" target="_blank">Source code</a> <i
                        class="fab fa-github"></i>
                    and
                    <a href="https://keepfast.netlify.app/" target="_blank">Live here</a> <i
                        class="fas fa-globe-asia"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div>
        <div>
            <span class="project-title bold">LifeSuite (Todo + Note + Expense) </span> -
            <span class="project-timeline">June. 2024</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">REACT JS</span>
            <span class="tech">SPRING BOOT</span>
        </div>
        <div class="project-details">
            <ul>
                <li>
                    Developed a comprehensive application featuring a Todo list, Note-taking, and Expense Tracking
                    functionalities.
                </li>
                <li>
                    Leveraged a technology stack including Bootstrap and JavaScript for the front-end, with React JS for
                    a dynamic and responsive user interface. The back-end is built using Java, Maven, and Spring Boot,
                    ensuring good performance and scalability. Integrated Open API Specification for API documentation
                    and utilised DynamoDB for efficient data storage and retrieval.
                </li>
                <li>
                    <a href="https://github.com/deep-govindvira/life-suite" target="_blank">Source code</a> <i
                        class="fab fa-github"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <!-- Stress Testing -->
    <div>
        <div>
            <span class="project-title bold">Expense Tracker</span> -
            <span class="project-timeline">June. 2023</span>
        </div>
        <div class="project-tech mt-1 mb-2">
            <span class="tech">PHP</span>
            <span class="tech">JAVASCRIPT</span>
        </div>
        <div class="project-details">
            <ul>
                <li>Web app to help users track their income and expenses efficiently. Automatica
                    calculates and displays the balance based on transactions.
                </li>
                <li>Implemented PHP for server-side logic and SQLite for data storage.</li>
                <li>
                    <a href="https://github.com/deep-govindvira/expense-tracker" target="_blank">Source code</a> <i
                        class="fab fa-github"></i>
                    and
                    <a href="https://hub.docker.com/r/deepgovindvira/expense-tracker" target="_blank">Docker image</a>
                    <i class="fas fa-globe-asia"></i>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>