<div class="footer-comp">
    <div class="copy-right">
        &copy; Deep Govindvira
    </div>
    <div class="links">
        <a href="mailto:deepgovindvira@gmail.com" target="_blank">
            <i class="fas fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/deep-govindvira/" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/deep-govindvira" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </div>
</div>