<!-- Achivements -->
<div class="achivement-comp">
    <div class="bold mobile">
        <div class="achivement-header">
            <i class="fas fa-trophy achivement-icon"></i> Achivements
        </div>
        <hr>
    </div>
    <table class="table table-sm table-borderless">
        <tbody class="achivement-list">
            <tr>
                <td class="achivement-header bold">Year</td>
                <td class="achivement-header bold">Description</td>
            </tr>
            <tr>
                <td class="achivement-year">2024</td>
                <td class="achivement-details">
                    <span class="bold">45th</span> rank,
                    <a href="https://www.codechef.com/rankings/START163C?itemsPerPage=100&order=asc&page=1&search=deepgovindvira&sortBy=rank"
                        target="_blank">
                        Codechef START163C
                    </a> Contest
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2024</td>
                <td class="achivement-details">
                    <span class="bold">400+</span>
                    <a href="https://leetcode.com/u/deep_govindvira/" target="_blank">
                        Leetcode
                    </a>
                    problems solved
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2024</td>
                <td class="achivement-details">
                    AWS Cloud Technologies | 
                    <a href="https://drive.google.com/file/d/1lUaNbnwMB-F9h3cV2Ih-BDSKGGe62deq/view" target="_blank">
                        Certificate
                    </a>
                </td>
            </tr>
            <tr>
                <td class="achivement-year">2020</td>
                <td class="achivement-details">
                    Core Committee Member of 
                    <span class="bold">DDU Coding Club</span>
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <!-- Coding -->
    <div>
        <div class="coding-profile bold">
            <i class="fas fa-terminal"></i> Coding Profiles
        </div>
        <div class="mt-3">
            <div class="coding-site">
                <img class="site-icon" src="./assets/icons/codechef.svg">
                CodeChef
            </div>
            <div class="coding-link">
                <a href="https://www.codechef.com/users/deepgovindvira" target="_blank">
                    https://www.codechef.com/users/deepgovindvira
                </a>
            </div>
        </div>
        <div class="mt-3">
            <div class="coding-site">
                <img class="site-icon" src="./assets/icons/codeforces.svg">
                Codeforces
            </div>
            <div class="coding-link">
                <a href="https://codeforces.com/profile/deep_govindvira" target="_blank">
                    https://codeforces.com/profile/deep_govindvira
                </a>
            </div>
        </div>
        <div class="mt-3">
            <div class="coding-site">
                <img class="site-icon" src="./assets/icons/leetcode.svg">
                Leetcode
            </div>
            <div class="coding-link">
                <a href="https://leetcode.com/deep_govindvira/" target="_blank">
                    https://leetcode.com/deep_govindvira/
                </a>
            </div>
        </div>
        <div class="mt-3">
            <div class="coding-site">
                <img class="site-icon" src="./assets/icons/hackerrank.svg">
                HackerRank
            </div>
            <div class="coding-link">
                <a href="https://www.hackerrank.com/deepgovindvira?hr_r=1" target="_blank">
                    https://www.hackerrank.com/deepgovindvira
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>