<div class="about-comp">
    <div class="bold mobile">
        <div class="about-header">
            <i class="fas fa-home about-icon"></i> About 
        </div>
        <hr>
    </div>
    <div class="about-title mb-3">
        <div class="hi">HI 👋, I'm <span class="bold name">Deep Govindvira.</span></div>
        <div class="role">Software Engineer - Java</div>
    </div>
    <ul class="about-details">
        <li>I am pursuing a B. Tech degree in <b>Information Technology</b> from Dharmsinh Desai University in Information Technology 💻. (2022 - 2026)</li>
        <li>My technical skills include expertise in <span class="bold">Java</span>, Spring Boot, C++, C, Data Structures & Algorithms, Object-Oriented Programming (OOP), Database Management (DynamoDB, SQL) , Bootstrap, JavaScript / Node.js (Basic), AWS and Git. I am a person who believes in continuous learning.</li>
        <li>In my free time, I enjoy ❤️ problem-solving (DSA), listening to music 🎵 and sometimes read a book 📕.</li>
        <li>I keep things simple and 💻 technology attracts me a lot.</li>
        <div class="mt-2">
            <a class="resume btn btn-primary" href="https://drive.google.com/file/d/12qUjhqjcIFALe7GWdFUoDQ1fJE_JzMlr/view" target="_blank">Resume</a>
            <button class="d-inline m-2 btn btn-outline-primary" onclick="show('work')">Experience</button>
        </div>
    </ul>
</div>